@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Overpass&family=Source+Sans+Pro&display=swap');

$fuenteUno: 'Source Sans Pro', sans-serif;
$fuenteDos: 'Belleza', sans-serif;
$fuenteTres: 'Overpass', sans-serif;